ecosystem,package_name,version
PyPI,requests,2.0.0
PyPI,flask,0.10
npm,lodash,3.10.1
npm,express,3.0.0
RubyGems,rails,4.0.0
PyPI,django,1.8
npm,jquery,1.6.0
RubyGems,sinatra,1.0
PyPI,urllib3,1.13
PyPI,requests,2.31.0
PyPI,flask,2.3.0
npm,lodash,4.17.21
npm,express,4.18.2
RubyGems,rails,7.0.4
PyPI,django,4.2
npm,jquery,3.7.1
RubyGems,sinatra,3.0.5
PyPI,urllib3,2.1.0
npm,axios,1.6.8
