name: ZAP Full Scan

on:
  workflow_dispatch:

jobs:
  zap_full_scan:
    runs-on: ubuntu-latest
    steps:
    - name: ZAP Full Scan
      uses: zaproxy/action-full-scan@v0.6.0
      with:
        target: "http://127.0.0.1:8000"
