name: Test Localhost

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Start Server
        run: |
          python3 -m http.server 8000 &
          sleep 3

      - name: Curl localhost
        run: curl http://127.0.0.1:8000
