name: ZAP Full Scan

on:
  workflow_dispatch:

jobs:
  zap_full_scan:
    runs-on: ubuntu-latest
    steps:
    - name: ZAP Baseline Scan
      uses: zaproxy/action-baseline@v0.7.0
      with:
        docker_name: "ghcr.io/zaproxy/zaproxy:stable"
        target: "http://127.0.0.1:8000"
        rules_file: ".zap/rules.tsv"
        cmd_options: "-a"

